<div id="user-account-div">
        <table>
            <tr><td><label>Avatar Name:</label></td><td>{{auth.activeUser.name}}</td></tr>
            <tr><td><label>Avatar User Level:</label></td><td>{{auth.activeUser.accessLevel}}</td></tr>
            <tr><td><label>User Email:</label></td><td>{{auth.activeUser.email}}</td></tr>
        </table>
    <hr>
        <span>Change Password</span>
            <form ng-submit="account.resetPassword()">
                <label>Password:</label>
                <input type="password" ng-model="account.password" /><br>
                <label>Confirm:</label>
                <input type="password" ng-model="account.passwordConfirm" /><br>
                <button type="submit">Submit reset</button>
            </form>
    <hr>
    <!--    <p>Iar functions:</p>
        <button ng-click="iar.showLoad()">Load IAR</button>
        <button ng-click="iar.showSave()">Save IAR</button>
    -->

    <!--
    <div id="footer" ng-show="auth.loggedIn" ng-controller="TaskController">
            <table style="width: 100%;" border="1">
                <thead>
                    <tr>
                        <th style="text-align: left" width="80"><span data-bind="text: task.tasks().length"></span> Task(s)</th>
                        <th style="text-align: left" width="140">Timestamp</th>
                        <th style="text-align: left" width="300">Type</th>
                        <th style="text-align: left">Status</th>
                      </tr>
                </thead>
            </table>
            <div id="jobs">
                <table style="width: 100%;" border="1">
                    <tbody style="height: 9em; overflow: auto;">
                        <tr ng-repeat="task in tasks track by task.id">
                            <td width="80"><button ng-click="delete(task)">delete</button></td>
                            <td width="140">{{task.timestamp}}</td>
                            <td width="300">{{task.type}}
                                <span ng-if="task.data.Region">-> {{regionNameFromUUID(task.data.Region)}}</span>
                            </td>
                            <td>{{task.data.Status}}</td>
                            <td ng-if="task.type == 'save_oar' || task.type == 'save_iar'">
                                <button ng-if="(task.data.Status == 'Done') && task.data.FileName" ng-click="download(task)">Download {{task.data.FileName}}</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div file-download></div>
    </div>
    -->
</div>
