<!DOCTYPE html>
<html ng-app="mgmApp" lang="en">
	<head>
		<title>Moses Grid Manager</title>
		<link rel="stylesheet" type="text/css" href="/css/jquery-ui.css" />
        <link rel="stylesheet" type="text/css" href="/css/jquery.terminal.css" />
        <link rel="stylesheet" type="text/css" href="/css/alertify.core.css" />
        <link rel="stylesheet" type="text/css" href="/css/alertify.default.css" />
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/mgm.css" />
        
        <script src="/js/alertify-0.3.11.min.js"></script>
		<script src="/js/jquery-1.11.0.min.js"></script>
		<script src="/js/jquery-ui.min.js"></script>
        <script src="/js/jquery.mousewheel.js"></script>
        <script src="/js/jquery.terminal-0.8.7.min.js"></script>
        
		<script src="/js/angular-1.2.14.min.js"></script>
		<script src="/js/angular-ui-router-0.2.13.min.js"></script>
		<script src="/js/ui-bootstrap-tpls-0.10.0.min.js"></script>
        <script src="/js/jcanvas.min.js"></script>
		<script type="text/javascript" src="/js/mgm.js"></script>
        <script type="text/javascript" src="/controllers/mgmController.js"></script>
        <script type="text/javascript" src="/controllers/registerController.js"></script>
        <script type="text/javascript" src="/controllers/taskController.js"></script>
        <script type="text/javascript" src="/controllers/accountController.js"></script>
		<script type="text/javascript" src="/controllers/regionController.js"></script>
		<script type="text/javascript" src="/controllers/gridController.js"></script>
		<script type="text/javascript" src="/controllers/mapController.js"></script>
		<script type="text/javascript" src="/controllers/userController.js"></script>
		<script type="text/javascript" src="/controllers/pendingUserController.js"></script>
		<script type="text/javascript" src="/controllers/iniEditController.js"></script>
	</head>
	<body ng-controller="mgmController">
<!--+++++++++++++++++++++++++++++++++++ HEADERS ++++++++++++++++++++++++++++++++++++++++++++++-->
        <div id="header">
            <div ng-if="!auth.loggedIn">
                <table style="margin-left:auto; margin-right: auto;">
                <tr>
                    <td><h1>MGM</h1></td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <form ng-submit="auth.login()">
                        <strong style="color:red" data-bind="text: auth.errorMessage"></strong>
                        <label class="sr-only">Username</label>
                        <input placeholder="Avatar Name" size="10" ng-model="auth.userName"></input>
                        <label class="sr-only">Password</label>
                        <input placeholder="Password" size="10" ng-model="auth.password" type="password"></input>
                        <button type="submit" class="btn btn-success">Login</button>
                    </form>
                    </td>
                    <td>
                        <button class="btn btn-success" ng-click="password.show()">Forgot Password?</button>
                    </td>
                    <td>
                        <a class="btn btn-success" ui-sref="register">Register</a>
                    </td>
                </tr>
                </table>
            </div>
            <div ng-if="auth.loggedIn" >
                <table style="margin-left:auto; margin-right: auto;">
                <tr>
                    <td><h1>MGM</h1></td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <div class="btn-group" textalign="center">
                            <a class="btn btn-success" ui-sref="mgm.account" ui-sref-active="active">Account</a>
                            <a class="btn btn-success" ui-sref="mgm.regions" ui-sref-active="active">Regions</a>
                            <a class="btn btn-success" ui-sref="mgm.grid" ui-sref-active="active">Grid</a>
                            <a class="btn btn-success" ui-sref="mgm.map" ui-sref-active="active">Map</a>
                            <a class="btn btn-success" ui-sref="mgm.users" ui-sref-active="active">Users</a>
                            <a ng-if="auth.activeUser.accessLevel > 249" class="btn btn-success" ui-sref="mgm.pending" ui-sref-active="active">Pending Users</a>
                            <a ng-if="auth.activeUser.accessLevel > 249" class="btn btn-success" ui-sref="mgm.config" ui-sref-active="active">ini Editor</a>
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-danger" ng-click="auth.logout()">Logout</button>
                    </td>
                </tr>
                </table>
            </div>
        </div>
        <div id="body" ui-view></div>
	</body>
</html>
