var settings = {};

// MGM component settings
settings.mgm = {};
settings.mgm.db = {}
settings.mgm.db.host = "devsql";
settings.mgm.db.user = "mgm";
settings.mgm.db.pass = "mgm";
settings.mgm.db.name = "mgm";
// ip and port for internal connections to MGM
settings.mgm.internalUrl = "http://127.0.0.1:3000/";

settings.mgm.log_dir = "/opt/moses/mgm/logs";
settings.mgm.upload_dir = "/opt/moses/mgm/uploads";

// Templates available for user creation
settings.mgm.templates = {
  male: '',
  female: ''
};

// settings.mgm.mail is the configuration for sending emails
settings.mgm.mail = {};
// transport is passed to nodemailer smtpTransport in initialization
settings.mgm.mail.transport = {
  service: 'Gmail',
  auth: {
    user: 'username',
    pass: 'password'
  }
};
settings.mgm.mail.sourceAccount = 'mgm@halcyon.militarymetaverse.org';
// users notified of new user applications
settings.mgm.mail.admins = ['mheilman@ist.ucf.edu'];
// the name of the grid as referenced in emails
settings.mgm.mail.gridName = 'MOSES:Halcyon';
// the public url of your MGM instance
settings.mgm.mail.loginURI = 'halcyon.militarymetaverse.org'

// long random string for generating jwt tokens
settings.mgm.tokenKey = 'SomethingRandomAndSecure';

// External IP address for grid voice services
settings.mgm.voiceIP = "Freeswitch IP";

// Settings for MGM to communicate with the Halcyon databases
settings.halcyon = {};
settings.halcyon.db = {}
settings.halcyon.db.host = "devsql";
settings.halcyon.db.user = "inworldz";
settings.halcyon.db.pass = "inworldz";
settings.halcyon.db.name = "inworldz";
settings.halcyon.grid_server = "http://yourfrontend:8001"
settings.halcyon.user_server = "http://yourfrontend:8002"
settings.halcyon.messaging_server = "http://yourfrontend:8006"
settings.halcyon.whip = "whip://password@whipaddress:32700"

// settings for the get_grid_info calls used by firestorm and other clients
settings.grid_info = {};
settings.grid_info.login = "http://yourpubliclogin:8002/";
settings.grid_info.mgm = "http://yourpublicmgm/";
settings.grid_info.gridName = "MOSES Halcyon Grid";
settings.grid_info.gridNick = "MG";

module.exports = settings;
