<div class="modal-header">
    <h3>Create a new Estate</h3>
</div>
<div class="modal-body">
    <div id="LoadIar">
        <p class="alertify-message">Please select the Owner and Name for the new estate.</p>
        <div class="alertify-text-wrapper">
            <label>Owner:</label><select ng-model="owner" ng-options="u.name for u in users | orderBy: 'name' track by u.uuid" class="alertify-text" />
            <label>Name:</label><input ng-model="name" class="alertify-text" />
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="estate.cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="estate.add(owner, name)">Create</button>
</div>
