<div class="modal-header">
    <h3>Manage User</h3>
</div>
<div class="modal-body">
    <div id="ReviewPending">
        <p>{{user.current.name}}</p>
        <p>{{user.current.email}}</p>
        <p>{{user.current.uuid}}</p>
        <p>Access Level: {{user.current.userLevel}}</p>
        Important user levels:
        <ul>
            <li>0: suspended user</li>
            <li>1: normal user</li>
            <li>50: able to administer groups</li>
            <li>200: grid god powers</li>
            <li>250: MGM administrator</li>
        </ul>
        <table>
        <tr><td><label>New Access Level:</label></td><td><input ng-model="level" ng-init="level=user.current.userLevel"/></td><td><button ng-click="user.setAccessLevel(level)">Set</button></td></tr>
        <tr><td><label>New Email:</label></td><td><input ng-model="email" ng-init="email=user.current.email"/></td><td><button ng-click="user.setEmail(email)">Set</button></td></tr>
        <tr><td><label>New Password:</label></td><td><input ng-model="newpass" /></td><td><button ng-click="user.setPassword(newpass)">Set</button></td></tr>
        <tr></tr>
        <tr></tr>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="user.modal.close()">Close</button>
</div>
