<div id="user-account-div">
        <table>
            <tr><td><label>Avatar Name:</label></td><td>{{auth.activeUser.name}}</td></tr>
            <tr><td><label>Avatar User Level:</label></td><td>{{auth.activeUser.accessLevel}}</td></tr>
            <tr><td><label>User Email:</label></td><td>{{auth.activeUser.email}}</td></tr>
        </table>
    <hr>
        <span>Reset Password</span>
            <form ng-submit="account.resetPassword()">
                <label>Password:</label>
                <input type="password" ng-model="account.password" /><br>
                <label>Confirm:</label>
                <input type="password" ng-model="account.passwordConfirm" /><br>
                <button type="submit">Submit reset</button>
            </form>
    <hr>
        <p>Iar functions:</p>
        <button ng-click="iar.showLoad()">Load IAR</button>
        <button ng-click="iar.save()">Save IAR</button>

</div>
