<div ng-if="auth.activeUser.accessLevel > 249">
    
    <table style="width: 100%;">
        <tr>
            <td style="text-align: left"><h3>Hosts:</h3></td>
            <td style="text-align: right">
                <button ng-click="host.add()" class="btn btn-secondary">Add Host</button>
            </td>
        </tr>
    </table>

    <div style="width: 100%; overflow: auto;">
        <span style="float: left; width: 15em">Name</span>
        <span style="float: left; width: 10em">Address</span>
        <span style="float: left; width: 10em">Timestamp</span>
        <span style="float: left; width: 5em">Regions</span>
        <span style="float: left; width: 25em">CPU</span>
        <span style="float: left; width: 10em">MEM</span>
        <span style="float: left; width: 10em">Net</span>
    </div>
                    
    <div style="width: 100%; overflow: auto;" ng-repeat="h in hosts | orderBy:'name' track by h.address" ng-class-odd="'odd'" ng-class-even="'even'">
        <span style="float: left; width: 15em">{{h.name}} <button ng-click="host.remove(h)" style="float: right;">Remove</button></span>
        <span style="float: left; width: 10em">{{h.address}}</span>
        <span style="float: left; width: 10em">{{lastSeen(h.status.timestamp)}}</span>
        <span style="float: left; width: 5em">{{regionCount(h.address)}}/{{h.capacity}}</span>
        <span style="float: left; width: 25em">{{h.status.cpuPercent}}</span>
        <span style="float: left; width: 10em">{{h.status.memPercent}}% {{(h.status.memKB/1024).toFixed(2)}}MB</span>
        <span style="float: left; width: 10em">{{(h.status.netSentPer/1024).toFixed(2)}} / {{(h.status.netRecvPer/1024).toFixed(2)}} KBps</span>
    </div>
    &nbsp
</div>
<table style="width: 100%;">
    <tr>
        <td style="text-align: left"><h3>Estates:</h3></td>
        <div>
            <td style="text-align: right" ng-if="auth.activeUser.accessLevel > 249">
                <button ng-click="estate.showAddModal()" class="btn btn-secondary">Add Estate</button>
            </td>
        </div>
    </tr>
</table>
<div style="width: 100%;">
    <span style="float: left; width: 15em">Name</span>
    <span style="float: left; width: 10em">Regions</span>
    <span style="float: left; width: 20em">Owner</span>
    <span style="floatn: left; width: 50em">Managers</span>
</div>
<div style="width: 100%; overflow: auto;" ng-repeat="est in estates | orderBy:'name'" ng-class-odd="'odd'" ng-class-even="'even'">
    <span style="float: left; width: 15em">{{est.name}} <button ng-click="estate.remove(est)" style="float: right;">Remove</button></span>
    <span style="float: left; width: 10em">{{est.regions.length}}</span>
    <span style="float: left; width: 20em">{{userName(est.owner)}}</span>
    <span style="float: left">{{userNameList(est.managers)}}</span>
</div>
