<div class="container-fluid" style="top: 0; bottom: 0px; position: absolute; width: 200em; margin: 0 auto;">
    <h1>Regions list</h1>
    <div class="row" style="top: 5em; bottom: 0px; position: absolute; width: 30em; margin: 0 auto;">
        <label>Filter Names:</label>
        <input placeholder="Name Search" type="search" ng-model="search.name" style="width: 10em"></input>
        <button ng-click="editDefault()">Edit Default Settings</button>
    </div>
    <div class="row" id="regionSelect" style="top: 7em; bottom: 0px; position: absolute; width: 30em; margin: 0 auto; overflow-y: scroll;">
        <div id="regionsList">
            <div  style="height: 100%;">
                <div style="height: 100%; width: 27em;">
                    <div class="row" ng-repeat="r in regions | orderBy:['estateName','name'] | filter:search track by r.uuid" ng-class-odd="'odd'" ng-class-even="'even'" ng-click="select(r)">
                        <div style="padding-left: 2em;">{{r.estateName}}-{{r.name}}</div>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="iniEdit" style="top: 0; bottom: 0px; left: 31em; position: absolute; width: 100%; margin: 0 auto;">
    <h1>Configuration List</h1>
    <h3 class="row" style="top: 3em; position: absolute; width: 70em; margin: 0 auto;">{{currentRegion? currentRegion.name : "default settings"}}</h3>
    <div id="configView" style="top: 7em; bottom: 0px; position: absolute; width: 70em; margin: 0 auto; overflow-y: scroll;padding-left: 10px" ng-if="currentRegion">
        <table style="width: 67em;">
            <tbody ng-repeat="(section,row) in editConfig">
                <tr><td>[{{section}}]</td></tr>
                <tr ng-repeat="(key,data) in row" ng-class-odd="'odd'" ng-class-even="'even'">
                    <td style="padding-left: 10px">-</td>
                    <td style="padding-left: 10px">{{key}}</td>
                    <td style="padding-left: 10px">{{data.value}}</td>
                    <td ng-if="data.source=='default'"><button ng-click="config.modify(section, key, data.value)">Override</button></td>
                    <td ng-if="data.source=='region'"><button ng-click="config.modify(section, key, data.value)">Update</button><button ng-click="config.default(section, key)">Default</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div id="configView" style="top: 7em; bottom: 0px; position: absolute; width: 70em; margin: 0 auto; overflow-y: scroll;padding-left: 10px" ng-if="!currentRegion">
        <table style="width: 67em;">
            <tbody ng-repeat="(section,row) in editConfig">
                <tr><td>[{{section}}]</td></tr>
                <tr ng-repeat="(key,data) in row" ng-class-odd="'odd'" ng-class-even="'even'">
                    <td style="padding-left: 10px">-</td>
                    <td style="padding-left: 10px">{{key}}</td>
                    <td style="padding-left: 10px">{{data.value}}</td>
                    <td><button ng-click="config.modify(section, key, data.value)">Update</button><button ng-click="config.default(section, key)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

