<div id="regions">
    <div style="width:100%; overflow: auto;">
        <div style="float: left; width: 10em">
            <input placeholder="Name Search" type="search" ng-model="search.name" style="width: 10em">
        </div>
        <div style="float: left; width: 10em">
            <input placeholder="Estate Search" type="search" ng-model="search.estateName" style="width: 10em" typeahead="estate.name for estate in estates">
        </div>
        <div style="float: left; width: 10em">
            <select ng-model="search.isRunning">
                <option value="">All Regions</option>
                <option value="true">Running</option>
                <option value="false">Stopped</option>
            </select>
        </div>
        <div style="float: left; width: 50em">
            Showing {{(regions|filter:search).length}} of {{regions.length}} Region(s)
        </div>
        <div style="float: left; width: 10em" style="width: 10em">
            <input ng-if="auth.activeUser.accessLevel > 249" placeholder="host search" ng-model="search.node"></input>
        </div>
        <div style="float: left; width: 20em">
            <button data-bind="click: $root.startListedRegions">Start Listed</button>
            <button data-bind="click: $root.stopListedRegions">Stop Listed</button>
            <button data-bind="click: $root.createNewRegion">Add Region</button>
        </div>
    </div>
    
    <div style="width:100%; overflow: auto;">
        <span style="float: left; width: 10em">Name</span>
        <span style="float: left; width: 10em">Estate</span>
        <span style="float: left; width: 10em">Timestamp</span>
        <div style="float: left; width: 52%">
            <span style="float: left; width: 10em">CPU</span>
            <span style="float: left; width: 15em">MEM</span>
            <span style="float: left; width: 15em">Uptime</span>
            <span style="float: left; width: 10em">Users</span>
            <span style="float: left; width: 10em" ng-if="auth.activeUser.accessLevel > 249">Host</span>
        </div>
    </div>

    <div style="width:100%;">
        <div ng-repeat="region in regions | orderBy:['estateName','name'] | filter:search track by region.uuid" ng-class-odd="'odd'" ng-class-even="'even'">
            <div style="overflow: auto;">
                <div style="float: left; width: 10em">
                    <span>{{region.name}}</span>
                    <button title="logbutton" data-bind="click: dumpLogs, tooltip: {content: 'Download available logs'}" style="float: right;">log</button>
                </div>
                <div style="float: left; width: 10em">
                    <span>{{region.estateName.substring(0,15)}}</span>
                </div>
                <div ng-if="region.isRunning == true">
                    <div style="float: left; width: 10em">
                        <span>{{lastSeen(region.stat.timestamp)}}</span>
                    </div>
                    <div style="float: left; width: 10em">
                        <span>{{region.stat.status["cpuPercent"].toFixed(2)}}%</span>
                    </div>
                    <div style="float: left; width: 7em">
                        <span>{{region.stat.status["memPercent"].toFixed(2)}} %</span>
                    </div>
                    <div style="float: left; width: 8em">
                        <span>{{(region.stat.status["memKB"]/1024).toFixed(2)}} MB</span>
                    </div>
                    <div style="float: left; width: 15em">
                        <span>{{region.stat.status.simStats['Uptime'].split(".").slice(0,-1).join(" days ")}}</span>
                    </div>
                    <div style="float: left; width: 10em">
                        <span>{{region.stat.status.simStats['RootAg']}}</span>
                    </div>
                </div>
                <div ng-if="region.isRunning != true">
                    <div style="float: left; width: 60em">
                        Is not running...
                    </div> 
                </div>
                <div style="float: left; width: 10em">
                        <span ng-if="auth.activeUser.accessLevel > 249">{{hostInfo(region.node)}}</span>
                    </div>
                <div style="float: left; width: 20em">
                    <button ng-disabled="region.isRunning" class="ui-button">Start</button>
                    <button ng-disabled="!region.isRunning">Stop</button>
                    <button>Content</button>
                    <button>Manage</button>
                </div>
            </div>
        </div>
    </div>
</div>
