<div id="registration" style="height: 100%; width: 100%; overflow-y: auto; padding-bottom: 2em;">
    <div id="eupa_page" ng-if="stage == 'EUPA'">
        <div align="center">
            <h1>The Military Open Simulator Enterprise Strategy</h1><br>
            <div style="width: 800px; text-align: left;">
            <h3>High Level Overview</h3>
            <p>MOSES is a strategy for deploying an OpenSimulator based experimentation platform for military training.  It involves a client software piece that you must install to participate and requires an active internet connection to communicate with the simulation servers located at the US Army Research Laboratory Simulation and Training Technology Center.  By agreeing to the End User Participation Agreement below and registering on the next page, you are applying for an account to participate in-world in MOSES.  You must use your legal name and a valid email address.  Applying for an account does not automatically grant you access.  In the following page, you will be given the opportunity to briefly summarize your work and why you wish to be a MOSES participant.</p>
            <h3>Participation Agreement Synopsis</h3>
            <p>It is highly recommended that you read and understand the participation agreement below before clicking the "I Agree" button. Here is a brief synopsis:</p>
            <ol>
                <li>The participation agreement below outlines the MOSES code of conduct.  All participants will behave in a professional manner and treat the MOSES grid as if they were actually visiting the ARL Simulation and Technology Center.</li>
            <li>Minimum participation qualifications and eligibility as well as roles and responsibilities.</li>
            <li>Terms of participation and release or termination.</li>
            <li>Explanation of Intellectual Property rights.</li>
            </ol>
            </div>
            <a href="/files/eupa.pdf" target="_self">View/Save PDF copy</a><br>
            <iframe src="/files/eupa.html" width="800" height="600"></iframe><br>
            <button class="btn btn-success" ng-click="acceptEupa()">I Agree</button>
        </div>
    </div>

    <div id="registration_page" ng-if="stage == 'Account'">
        <div align="center">
            <h3>Application</h3>
            <p>This is an application for an avatar account in the MOSES Grid.
                Your legal first name and your legal last name is your avatar name.
                Please complete the form below and press the Apply button to apply for a MOSES account.</p>
            <form data-bind="submit: register">
                <table>
                    <tr>
                        <td><label>Legal First Name:</label></td>
                        <td><input type="text" placeholder="First Name", ng-model="reg.fname"/></td>
                        <td><strong style="color:red">{{error.fname}}</strong>
                    </tr>
                    <tr>
                        <td><label>Legal Last Name:</label></td>
                        <td><input type="text" placeholder="Last Name", ng-model="reg.lname"/></td>
                        <td><strong style="color:red">{{error.lname}}</strong>
                    </tr>
                    <tr>
                        <td><label>Applicant Email:</label></td>
                        <td><input type="text" placeholder="email@ccount.com" ng-model="reg.email"/></td>
                        <td><strong style="color:red">{{error.email}}</strong>
                    </tr>
                    <tr>
                        <td><label>Applicant Password:</label></td>
                        <td><input type="password" ng-model="reg.pword"/></td>
                        <td><strong style="color:red">{{error.pword}}</strong>
                    </tr>
                    <tr>
                        <td><label>Confirm Password:</label></td>
                        <td><input type="password" ng-model="reg.pword2"/></td>
                    </tr>
                    <tr>
                        <td><label>Applicant Gender:</label></td>
                        <td>
                            <input type="radio" name="gender" value="M" ng-model="reg.gender">Male</input>
                            <input type="radio" name="gender" value="F" ng-model="reg.gender">Female</input>
                        </td>
                        <td><strong style="color:red">{{error.gender}}</strong>
                    </tr>
                    <tr>
                        <td colspan="2"><label>Summarize why you would like to join the MOSES Project, and discuss relavant work where appropriate:</label></td>
                    </tr>
                    <tr>
                        <td colspan="2"><textarea rows="4" cols="80" ng-model="reg.reasons"></textarea></td>
                    </tr>
                    <tr><td colspan="2" align="center"><button type="submit" class="btn btn-success" ng-click="apply(fname, lname, email, pword, pword2, gender, reasons)">Apply</button></td</tr>
                </table>
            </form>
        </div>
    </div>

    <div id="success_page" ng-if="stage == 'Registered'">
        <div align="center">
            <h3>Thank You</h3>
            <p>Thank you for your interest in participating on project MOSES.  Your account is now pending approval from a MOSES Administrator.  You will receive an email at your registered email address should your account and participation be approved.</p>
        </div>
    </div>
</div>