<div id="regions">
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1"><input placeholder="Name Search" type="search" ng-model="search.name" style="width: 10em"></div>
            <div class="col-md-1"><input placeholder="Estate Search" type="search" ng-model="search.estateName" style="width: 10em" typeahead="estate.name for estate in estates"></div>
            <div class="col-md-1">
                <select ng-model="search.isRunning">
                    <option value="">All Regions</option>
                    <option value="true">Running</option>
                    <option value="false">Stopped</option>
                </select>
            </div>
            <div class="col-md-4">
                Showing {{(regions|filter:search).length}} of {{regions.length}} Region(s)
            </div>
            <div class="col-md-1"><input ng-if="auth.activeUser.accessLevel > 249" placeholder="host search" ng-model="search.node"></input></div>
            <div class="col-md-4">
                <button ng-click="region.startListed()">Start Listed</button>
                <button ng-click="region.stopListed()">Stop Listed</button>
                <button ng-click="region.showAdd()">Add Region</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">Name</div>
            <div class="col-md-1">Estate</div>
            <div class="col-md-1">Timestamp</div>
            <div class="col-md-1">CPU</div>
            <div class="col-md-1">MEM</div>
            <div class="col-md-1">Uptime</div>
            <div class="col-md-1">Users</div>
            <div class="col-md-1"><span style="float: left; width: 10em" ng-if="auth.activeUser.accessLevel > 249">Host</span></div>
        </div>
        <div class="row" ng-repeat="r in regions | orderBy:['estateName','name'] | filter:search track by r.uuid" ng-class-odd="'odd'" ng-class-even="'even'">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-1">{{r.name}}</div>
                    <div class="col-md-1">{{r.estateName.substring(0,15)}}</div>
                    <div ng-if="r.isRunning" class="col-md-1">{{lastSeen(r.stat.timestamp)}}</div>
                    <div ng-if="r.isRunning" class="col-md-1">{{r.stat.status["cpuPercent"].toFixed(2)}}%</div>
                    <div ng-if="r.isRunning" class="col-md-1">{{r.stat.status["memPercent"].toFixed(2)}} % [{{(r.stat.status["memKB"]/1024).toFixed(2)}} MB]</div>
                    <div ng-if="r.isRunning" class="col-md-1">{{r.stat.status.simStats['Uptime'].split(".").slice(0,-1).join(" days ")}}</div>
                    <div ng-if="r.isRunning" class="col-md-1">{{r.stat.status.simStats['RootAg']}}</div>
                    <div class="col-md-5" ng-if="!r.isRunning">Is not running...</div>
                    <div class="col-md-1"><span ng-if="auth.activeUser.accessLevel > 249">{{hostInfo(r.node)}}</span>&nbsp</div>
                    <div class="col-md-4">
                        <button ng-disabled="r.isRunning" ng-click="region.start(r)" class="btn btn-xs btn-default">Start</button>
                        <button ng-disabled="!r.isRunning" ng-click="region.stop(r)" class="btn btn-xs btn-default">Stop</button>
                        <button ng-click="collapse.showContent(r)" ng-disabled="!r.isRunning" class="btn btn-xs btn-default">Content</button>
                        <button ng-click="collapse.showManage(r)" ng-disabled="auth.activeUser.accessLevel < 250" class="btn btn-xs btn-default">Manage</button>
                        <button ng-click="region.viewLog(r)" class="btn btn-xs btn-default">log</button>
                    </span>
                </div>
                <div class="row" collapse="collapse.manage != r.uuid">
                    <div class="col-md-1"></div>
                    <div class="col-md-8" ng-if="r.isRunning">
                        <div id="{{r.uuid}}-Term" style="width:100%; height: 600px"></div>
                    </div>
                    <div class="col-md-8" ng-if="!r.isRunning">
                        <div class="row">
                            <div class ="col-md-2"><button ng-click="region.remove(r)">Delete {{r.name}}</button></div>
                            <div class ="col-md-5">
                                Change Estate
                                <select ng-model="newEstate" ng-options="e.name for e in estates | orderBy: 'name' track by e.name"></select>
                                <button ng-click="region.setEstate(r, newEstate)">Set</button>
                            </div>
                            <div class ="col-md-5">Change Host<select ng-model="newHost" ng-options="h.name+'|'+h.address for h in hosts | orderBy: 'name' track by h.address"></select>
                            <button ng-click="region.setHost(r, newHost)">Set</button></div>
                        </div>
                    </div>
                </div>
                <div class="row" collapse="collapse.content != r.uuid">
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        Oar load
                        <input type="file" onchange="angular.element(this).scope().oar.file = this.files" />
                        <button ng-click="oar.load(r)">Load</button>
                    </div>
                    <div class="col-md-2">Oar Save <button ng-click="oar.save(r)">Initiate Save</button></div>
                    <div class="col-md-2">Load blank oar, wiping content <button ng-click="oar.nuke(r)">Nuke</button></div>
                </div>
            </div>
        </div>
    </div>
</div>
