<div style="width:100%; overflow: auto;">
    <div style="float: left; width: 10%"><span data-bind="text: Users().length"></span> User(s)</div>
    <div style="float: left; width: 30%">Name:<input placeholder="Search..." type="search" name="q" data-bind="value: userNameSearch, valueUpdate: 'input'" autocomplete="off"></div>
    <div style="float: left; width: 30%">Email:<input placeholder="Search..." type="search" name="q" data-bind="value: userEmailSearch, valueUpdate: 'input'" autocomplete="off"></div>
</div>
<div style="width: 100%; overflow: auto;" >
    <span style="float: left; width: 20em">Name</span>
    <span style="float: left; width: 20em">Address</span>
</div>
<div style="width: 100%;" ng-repeat="u in users | orderBy:'name' track by u.email" ng-class-odd="'odd'" ng-class-even="'even'">
    <span style="display:inline-block; width: 20em">{{u.name}} <button style="float:right">Remove</button></span>
    <span style="display:inline-block; width: 40em">{{u.email}} <button style="float:right" ng-click="user.manage(u)">Manage</button></span>
</div>
