<div class="modal-header">
    <h3>Modify Configuration</h3>
</div>
<div class="modal-body">
    <div id="SaveOar">
		<p class="alertify-message">
            Update the values as desired, then press submit to save the changes to the server.  Please note that any configuration changes will not take affect until the region is started/restarted in MGM, so that MGM can write the updated config files, and the region can load them on startup.
		</p>
    </div>
    <table>
        <tr><td><label>Section:</label></td><td><input type="text" ng-model="config.candidate.section"/></td></tr>
        <tr><td><label>Key:</label></td><td><input type="text" ng-model="config.candidate.key"/></td></tr>
        <tr><td><label>Value:</label></td><td><input type="text" ng-model="config.candidate.value"/></td></tr>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="config.submit()">Submit</button>
    <button class="btn btn-warning" ng-click="config.modal.close()">Cancel</button>
</div>