<div class="modal-header">
    <h3>Password Reset</h3>
</div>
<div class="modal-body">
    <p>If you have forgotten your password, enter your email here and we will send you a special code to reset your password.</p>
    <label>Email:</label><input ng-model="email" /><button ng-click="password.getReset(email)">Request Email Code</button><hr>
    
    <p>Once you receive your password reset code in your email, enter it here, along with your avatar name, and your new password to complete the password reset.</p>
    <label>Avatar Name:</label><input ng-model="uname" /><br>
    <label>Token:</label><input ng-model="token" /><br>
    <label>Password:</label><input ng-model="pword" /><br>
    <label>Confirm:</label><input ng-model="confirm" /><br>
    <button ng-click="password.reset(uname, token, pword, confirm)">Submit Reset</button>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="password.modal.close()">Close</button>
</div>
