<div class="modal-header">
    <h3>Save Oar File</h3>
</div>
<div class="modal-body">
    <div id="SaveOar">
		<p class="alertify-message">
			Request an OAR archive from {{oar.current.name}}.  
			This is a long-running asynchronous task.  
			You will be sent an email when it completes.  
			The file will be listed in your taskbar at the bottom of the Account tab, which is where you will download it from.
		</p>
		<div class="alertify-message" ng-if="oar.current.size > 1">
			<p>This is a Var Region, there is not currently a mechanism to save out portions of a var-region.
			This oar file may cause problems if you load it onto a normal region, or onto a smaller var region.</p>
			</div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="oar.save()">OK</button>
    <button class="btn btn-warning" ng-click="oar.modal.close()">Cancel</button>
</div>
